*{box-sizing:border-box}

.container {
  width: 400px;
  height: 400px;
  margin: 0 auto; 
  position: relative;
  -webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
  -moz-transform: perspective(1400px);
	-ms-transform: perspective(1400px);
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d; 
  transform-style: preserve-3d;
  -webkit-perspective-origin: right;
  -moz-perspective-origin: right;
  perspective-origin: right;
  margin-bottom:30px;
}
.card {
  width: 400px;
  height: 320px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  position: relative; 
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d; 
  transform-style: preserve-3d;
  transition: .8s ease-in-out;
 
}


.logo:before {
  content: "";
  position: absolute;
}
.logo:after {
  content: "";
  position: absolute;
}

.logo img {
  border-radius: 15px;
  width: 400px;
  height: 320px;

 
}

.front, .back {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  display:-webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  font-family: 'Arimo', sans-serif;
}

.back-box-container{
  display: flex;
  flex-direction: column;
}
.container:hover .card {
  -webkit-transform: rotateY(180deg) translateX(100%);
  -moz-transform: rotateY(180deg) translateX(100%);
  -ms-transform: rotateY(180deg) translateX(100%);
  transform: rotateY(180deg) translateX(100%);
  cursor: pointer;
}

/* Buttons */

.description-back{
  text-align: center;
  color: white;
  font-size:20px;
  margin-left:10%;
  margin-right:10%;
  Padding-bottom: 120px;
}

.title-back{
color:white;
text-transform: uppercase;
font-weight: 400;
line-height: 1;
text-align: center;
font-size: 40px;
}

.button-box {
  position: absolute;
  top: 260px;
  left:100px;
}

.button-back{
  padding: 10px;
  border-radius:5px;
  margin-left:10px;
  margin-right:10px;
  text-decoration:none;
  font-weight:300;
  color: white;
  background-color:#010305;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
}


  .button-back:hover{
  background-color:white;
  color: black ;
  cursor: pointer;
  }

  h1 span {
  color: #4E203C;
  display: block;
  font-size: .45em;
  letter-spacing: 3px;
}

h1 i {
  font-style: normal;
  text-transform: none;
  font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 1000px) {

  .container {
    width: 300px;
    height: 300px;
  
  }
  .card {
    width: 300px;
    height: 300px;
   
  }

  .logo img {
    border-radius: 15px;
    width: 300px;
    height: 320px;
   
  }

  .button-box {
    position: absolute;
    top: 260px;
    left:50px;
  }
  
}
 