:root {
  --off-white: black;
}
/* reset for all browsers selecting all elmenst to have ) padding etc. */
* {
  list-style: none;
  padding :0px;
}

.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between;
  
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline-flex;
  margin-left: 2rem;
  color: blue;
  font-size: 1.2em;
  font-family: 'Exo 2', sans-serif;
  
}

.nav-item:hover {
  color:blue;
  cursor: pointer;
}


.section-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

/* Main part/top section */
.layout {
  background-image:url("https://images.unsplash.com/photo-1549605659-32d82da3a059?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  height: 750px;
  
}

.landing-grid {

  text-align:center;

  }
  
  .avatar-img {
  height: 300px;
   border-radius: 50%;
  }

  .main-title{
    color: white;
  }
  
  .banner-text {
    background-color:black;
    opacity:.7;
    width:75%;
    font-size: 20px;
    color: white;
    margin:auto;
    border-radius: 20px;
    padding: 30px;
    font-family: 'Exo 2', sans-serif;
  }
  
  .banner-text > main-tilte {
    
    font-size: 86px;
    font-weight: bold;
    color:white;
  
  }
  
  .banner-text hr {
    border-top: 5px straight white ;
    width: 70%;
    margin: auto;
  }
  

  /* /////////Social icons////////// */
  .social-links{
    display: inline-flex;
    align-items: center;
  }
  .social-links i {
   
    padding: 0px 0px 20px 20px;
    font-size: 3em;

  }

  /* Aboutme section ////////////////////// */

  .aboutme-wrapper {
  text-align: center;
    
    display: grid;
    /* 2 = 2 grids with 1 frame */
    grid-template-columns: repeat(1, 1fr);
    /* min max is when it will switch size */
    grid-auto-rows: minmax(50px, auto);

  }

.aboutme-title{
color: white;
display: flex;
justify-content: center;
font-family: 'Exo 2', sans-serif;


}
.aboutme-descrip{
  color: white;
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  

}

  .particles {
    position: absolute;
    height: 180%;
    width: 90%;
  }

  /* skills section ////////////////////////////////////////*/

  

  .skills-wrapper {
    color: white;
    background-color:black;
    opacity:.8;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 3px solid grey;
    border-radius: 15px;
    display: grid;
  
  }
.front-end{

  padding-top:none;
 text-align: center;
 }
 
.front-end h1{
  font-family: 'Exo 2', sans-serif;
  color:white;
}

.front-end > li {
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  color: white;
}
.front-end-icon {
  display: flex;
  justify-content: center;
}

.front-end-skills > p {
  border-radius: 3px;
  color: #fff;
}
/* //////////////Front -end skill-CSS by row  */
.row1 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  align-items: center;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  justify-content: center;
}

.css-list{
  border: 3px 3px 3px red;
  padding-top: 100px;
  padding-bottom: -20px;

}

.row2 {
   font-family: 'Abel', sans-serif;
  font-size: 20px;
  align-items: center;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}


.back-end{
  padding-top: 15px;
  border-top:3px solid grey;
  border-width: 80%;
  text-align: center;
}

.back-end h1{
  font-family: 'Exo 2', sans-serif;
  color:white;
}

.back-end > li{
  
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  color:white;
}

.back-end-skills{
  align-items: center;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}
  



/* ReactJS wrapper 2 */

.wrapper-2 {
  background-color:black;
  opacity:.8;
  margin: auto;
  border: 3px solid grey;
  border-radius: 5px;
  text-align: center;
  row-gap: 20px;
 
  
  display: grid;
  /* 2 = 2 grids with 1 frame */
  grid-template-columns: repeat(3, 1fr);
  /* min max is when it will switch size */
  grid-auto-rows: minmax(10px, auto);
}

.dev-title{
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}

.wrapper-2 h2 {
  color: white;
}

.wrapper-2 h3 {
 
  color: white;
}

.wrapper-3 {
  
 background-color:black;
  opacity:.8;
  border: 3px solid grey;
  border-radius: 5px;
  text-align: center;
 
  display: grid;
  /* 2 = 2 grids with 1 frame */
  grid-template-columns: repeat(2, 1fr);
  /* min max is when it will switch size */
  grid-auto-rows: minmax(10px, auto);
}

.wrapper-3 h3 {
  
  color: white;
}

.other-skills-title{
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
}

.wrapper-4 {
  
  background-color:black;
  opacity:.8;
  border: 3px solid grey;
  border-radius: 5px;
  text-align: center;
 
  display: grid;
  /* 2 = 2 grids with 1 frame */
  grid-template-columns: repeat(2, 1fr);
  /* min max is when it will switch size */
  grid-auto-rows: minmax(10px, auto);
}

.wrapper-4 h3 {
  color: white;

}

/* CSS for screen above 450px + */

@media only screen and (min-width: 450px){
  .burger-open {
    display: none;
  }

.sideBar{
  display: none;
}

}

/* CSS displayed at 450px or less*/
/* anything over 450px will switch back to normal display */
     @media only screen and (max-width: 449px) {
       
     

      .nav-content{
        display: none;
      }

      
      .burger-open{
        display: block;
        font-size: 20px;
        cursor: pointer;
        color: white;
        padding: 10px 15px;
        border: none;
        margin-top: none;
      }
      /* actually another burger over the close burger */
      .burger-close{
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        color: white;
        padding: 10px 15px;
        border: none;
        margin-top: none;
      }

      /* items in teh side bar */
      .nav-item{
        display: block;
        padding: 20px 20px 20px 20px;
      }
      

      .sideBar{
        
       
        
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: .8;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.3s;
       
      }

      .back-end{

        border-left:none;
        text-align: center;
        border-top: 3px solid grey;
        padding-top: 20px;
      }

      .back-end-skills{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
      }

      /* front end rows */
      .row1{

        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        
      }
      .row2{

        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        
      }
      

       .front-end{
       padding-top: 20px;
       text-align: center;
       }

       

 }